@import url('https://fonts.googleapis.com/css?family=Montserrat');

form {
    margin: 0 auto;
    width: 400px; 
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}


label {
    display: inline-block;
    font-family: Montserrat, sans-serif; 
}

button {
    font-family: Montserrat, sans-serif;     
}